<style>

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    .original-text {
        background-color: grey;
    }

     .answer {
        background-color: lime;
    }

</style>
<head>
    <title>Levenshtein Distance Calculator</title>
</head>

<body>
<h1>Levenshtein Distance Calculator</h1>

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input type="text" name="source" value="{{ source }}"/>
    <input type="text" name="target" value="{{ target }}"/>
    <input type="submit" value="Calculate Distance"/>
</form>

{% if result is not None %}

{% load index %}
<h2>The distance between &quot;{{ source }}&quot; and &quot;{{ target }}&quot; is {{ result }}</h2>
<h3>Calculation matrix (result is the lowest right number):</h3>
<table>
    <tr>
        <td></td>
        <td></td>
        {% for target_char in target %}
        <td class="original-text">{{ target_char }}</td>
        {% endfor %}
    </tr>
    {% for row in matrix %}
    <tr>
        {% if forloop.counter0 == 0 %}
        <td></td>
        {% else %}
        <td class="original-text">{{ source |index:forloop.counter0}}</td>
        {% endif %}
        {% for col in row %}
        {% if forloop.last and forloop.parentloop.last %}
        <td class="answer">{{ col }}</td>
        {% else %}
        <td>{{ col }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>